pandas
numpy
matplotlib
seaborn
statsmodels
scipy
beautifulsoup4
tqdm
plotly
PyPDF2
pdfplumber
nbformat
geopandas
shapely
folium
fpdf
fpdf2
streamlit
streamlit-folium
geojson
Pillow
scikit-learn
tensorflow
